.Exchange {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: auto;
}

.Bubble {
  border-radius: 0.75rem;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.25;
  max-width: 80%;
  padding: 0.5rem 0.75rem;
  word-wrap: break-word;
}

.Prompt {
  align-self: flex-end;
  background-color: var(--color-gray-lightest);
  border-bottom-right-radius: 0;
  color: var(--color-black);
}

.Answer {
  align-self: flex-start;
  overflow: hidden;

  * {
    all: revert;
  }
}

.Status {
  display: flex;
  gap: 0.5rem;
}
